@charset "utf-8";

.counter {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
}
.counter-number {
    font-size: 50px;
    margin-bottom: 10px;
}
.button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
    transition: opacity .25s;
}